{% extends 'base.html' %}
{% load static %} <!-- Load static files -->

{% block 'head' %}
<link rel="stylesheet" href="{% static 'jobs/css/find_jobs.css' %}"> <!-- Refer the static files path -->
{% endblock %}

{% block 'body' %}

    <div class="container">
    <br>
    <br>
        <div class="row">
            <div class="col-sm">
                <!-- Used "GET" method here because we have an inner form as a filter -->
            <form action="{% url 'find_jobs' %}" method="GET"> {% csrf_token %} <!-- csrf_token Solve authentication issues -->
                <input type="text" class="form-control" placeholder="Minimum Price" name="minimum_price">
                <br>
                <input type="text" class="form-control" placeholder="Maximum Price" name="maximum_price">
            </div>

            <div class="col-sm">
                <input type="date" class="form-control" name="minimum_time">
                <br>
                <input type="date" class="form-control" name="maximum_time">
            </div>

                <div class="col-sm">
                    <select class="form-control" name="category">
                        <option value="D">Design</option>
                        <option value="VE">Video Editing</option>
                    </select>
                <br>
                <input type="submit" class="btn btn-success btn-lg" value="FILTER">
            </form>
            </div>

        </div>
        <br>
        <br>
        <h2 class="title">OPEN JOBS:</h2>
        <div class="row justify-content-around">

        <!-- List of jobs -->

        {% for job in jobs %}

             <div class="col-6 row-card">
                <div class="card-job">
                         <div class="header-job">
                            <h4 class="title-job">{{ job.title }}</h4>
                        </div>
                        <div class="body-job">
                            <p class="title-body">Description:</p>
                             <div style="width: 70%">
                                <p>{{ job.description }}</p>
                             </div>

                            <div class="row">
                                <div class="col-4">
                                    <p class="title-body">Price:</p>
                                    <p>€ {{ job.price }}</p>
                                </div>
                            <div class="col-4">
                                     <p class="title-body">Term:</p>
                                    <p>{{ job.delivery_time }}</p>
                            </div>
                            <div class="col-4">
                                    <p class="title-body">Category:</p>
                                    <p>{% if job.category == 'D' %}
                                            Design
                                        {% else %}
                                            Video Editing
                                        {% endif %}
                                    </p>
                            </div>

                        </div>

                        <button class="btn btn-success" data-toggle="modal" data-target="#modal-{{ job.id }}">Details</button>
                        <br>
                        <br>

                    </div>
                </div>
            </div>

            <!-- Modal details from job -->

            <div class="modal fade" id="modal-{{job.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="background-color: #333;" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title job-modal-title" id="exampleModalLabel">JOB:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <h4 class="title-job">{{job.title}}</h4>

                                <h6 class="title-body">Description:</h6>

                                <p>{{job.description}}</p>

                                <div class="row">

                                    <div class="col-4">

                                        <h6 class="title-body">Price:</h6>

                                        <p>{{job.price}}</p>

                                    </div>

                                    <div class="col-4">

                                        <h6 class="title-body">Term:</h6>

                                        <p>{{job.delivery_time}}</p>

                                    </div>

                                    <div class="col-4">

                                        <h6 class="title-body">Category:</h6>

                                        <p>{{job.delivery_time}}</p>

                                    </div>



                                </div>

                                <h4 style="display:inline;" class="job-modal-title">References:</h4>
                                <br>
                                <br>
                                <div class="row">

                                    {% for reference in job.references.all %}
                                    <div class="col-4">
                                        <img src="{{reference}}" width="100%">


                                    </div>
                                    {% endfor %}



                                </div>
                                <br>
                                <br>
                                <a href="{% url 'accept_job' job.id %}" class="btn btn-success btn-lg">ACCEPT JOB</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        {% endfor %}

        </div>
    </div>
{% endblock %}
